/* Install Open Props */
@import "https://unpkg.com/open-props";

/* Diagnostic Styling */
* {
  outline: 2px dotted gray;
} 


/* temp background color */
body {
    /* background: var(--lime-4); */
    background: linear-gradient(to right, #f1b2d2, #ff1493);
    /* background: var(--gradient-12); */
  }
  
  section {
    animation: var(--animation-fade-in) forwards;
  }